em {
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
}

#data {
  font-size: 15px;
}

#reverse_jumbo {
  display: none;
  background-color: LightSkyBlue;
}

#data_jumbo {
  display: none;
  background-color: OliveDrab;
}

.invalid_input {
 border:1px solid red;
}
